[phases.setup]
nixPkgs = ["nodejs-20_x", "curl"]

[phases.build]
cmds = [
  "npm ci --only=production",
  "npm run build"
]

[start]
cmd = "npm start"

[variables]
NODE_ENV = "production"
PORT = "3000"
HOSTNAME = "0.0.0.0"
NEXT_TELEMETRY_DISABLED = "1"